html {
	background: #1f1f1f;
	color: white;
	font-size: 0.9rem;
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	overflow: hidden;
}

.hidden {
	display: none !important;
}

.ui {
	z-index: 1;
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    pointer-events: none;
}
.ui * {
	pointer-events: all;
}

.download-progress {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.timeline {
	width: calc(100vw - 2rem);
	padding: 1rem;
	display: flex;
}

.timeline .btn {
	width: fit-content !important;
}

.timeline-track {
	position: relative;
	flex: 1;
	margin: 4px;
	height: 1.5rem;
}

.keyframes {
	position: relative;
	width: 100%;
	margin: 4px;
	background-color: rgba(0,0,0,0.4);
}

.key {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 0.75rem;
	height: 0.75rem;
	background: #5fcde4;
	border: 2px solid white;
	outline: none !important;
	padding: 0;
	cursor: pointer;
}
.key:hover {
	border: 3px solid white;
}
.key.selected {
	border: 2px solid white;
	background: white;
}

.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}

input[type="range"].progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100% !important;
  height: 100% !important;
  background: transparent;
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

input[type="range"].progress-bar::-webkit-slider-runnable-track {
  height: 1.5rem;
  background: transparent;
  border: none;
}

input[type="range"].progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.5rem;
  height: 1.5rem;
  background: white;
  border: none;
  border-radius: 0;
}

.sidebar {
	padding: 1rem;
	padding-bottom: 0;
	min-width: 100px;
	max-width: 15vw;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	pointer-events: none;
}

.stat {
	margin: 4px;
	padding: 0.5rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	color: white;
}


.btn {
	background-color: rgba(0,0,0,0.4);
	color: white;
	outline: none;
	border: none;
	width: calc(100% - 8px);
	margin: 4px;
	text-align: left;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	
	font: inherit;
}
.btn:hover {
	outline: 2px solid white;
}

.btn.selected {
	outline: 4px solid white !important;
}


small_break {
	margin-top: 1rem;
}
full_break {
	margin-bottom: auto;
	margin-top: auto;
}
